.button {
  color: $white-color;
  padding: 1rem 1.5rem;
  margin: 2rem;
  border-radius: 3px;
  background-color: $theme-color;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
}