.logo-box {
    padding-top: 8%;
    padding-bottom: 2%;
    font-size: x-large;
    background-color: white;

    div {
        padding-bottom: 6%;
        margin-left: 6%;

        span {
            padding-right: 2%;
        }
    }

    .top-nav {
        a {
            color: #FC851E;
        }
    }

    .logos {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 1rem;
            background-color: black;
            border-radius: 50%;
            height: 3rem;
            width: 3rem;

            i {
                color: white;
                font-size: x-large;
            }
        }
    }

    .email {
        a {
            color: #666666;

            i {
                color: #2e2e2e;
                font-size: 2.5rem;
                vertical-align: middle;
            }
        }
    }
}

.foot-box {
    border-top: 0.1em solid black;
    background-color: #ebebeb;
    padding-top: 6%;
    padding-bottom: 6%;

    ul {
        li {
            display: block;
            padding: 0.5rem 2rem;

            a {
                color: #666666;
            }
        }
    }
}