.logo-box{
    padding-top: 8%;
    padding-bottom: 2%;
    font-size: x-large;
    
    div{
        padding-bottom: 6%;
        margin-left: 6%;
        span{
            padding-right: 2%;
        }
    }

    .top-nav{
        span{
        color: #FC851E;
        }
        i{
            color: #FC851E;
        }
    }


    .email{
        span{
        color: black;
        }
        i{
            color:black;
        }
    }


    .logos{
        a{
        color: black;
        padding-right: 4%;
        font-size: xx-large;
        }
    }
}

.foot-box{
    border-top: 0.1em solid black;
    background-color: #ebebeb;
    padding-top: 6%;
    padding-bottom: 6%;

    ul{
        li{ 
        display: block;
        padding-bottom: 2%;

        a{
        color: black;
    }
    }
    }
}


@mixin foot-tab {
.logo-box{
    font-size: small;
}

.logos{
    a{
font-size: larger;
    }
}

}


@mixin foot-desk {
    .logo-box{
        display: grid;
        padding-top: 4%;
        padding-left: 4%;
        padding-bottom: 0;
        font-size: x-large;

    
        .top-nav{
            grid-column-start: 1;
            margin-bottom: 8%;
        }

        .logos{
            grid-column-start: 1;
            a{
                font-size: xx-large;
            }
        }

        .email{
            grid-column-start: 2;
            margin-left: 72%;
        }
    }

    .foot-box{
        padding-top: 4%;
        padding-left: 8%;
        padding-bottom: 4%;    

        ul{
       display: grid;
       grid-template-columns:  1fr 1fr 1fr 1fr;
        }

       a{ 
                color: black;
            }
    }
}