@mixin landing-carousel-desktop {
  .landing-carousel {
    .item {
      .description {
        h4 {
          font-size: 3rem;
        }

        span {
          font-size: 2rem;
        }
      }
    }
  }
}

@mixin landing-carousel-tablet {
  .landing-carousel {
    .item {
      .description {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        right: 0;
        top: 1.5rem;
        background-color: #ffffff96;
        padding: 2.5rem 6.5rem 2.5rem 2.5rem;

        h4 {
          color: #666;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: 800;
          margin-bottom: 1.5rem;
        }

        span {
          font-size: 1.2rem;
          color: #666;
          margin-bottom: 2rem;
        }

        .button {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }
}

.landing-carousel {
  margin-bottom: 0 !important;

  .slick-list {
    height: 100%;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .slick-dots {
    bottom: 2rem;

    & li button:before {
      font-size: 15px;
      color: $theme-color;
    }
  }

  .slick-prev,
  .slick-next {
    height: 55px;
    width: 55px;
    z-index: 10;
  }

  .slick-prev {
    @include arrow(left, 2rem, '\f053');
  }

  .slick-next {
    @include arrow(right, 2rem, '\f054');
  }

  .item {
    position: relative;

    img {
      max-height: 35rem;
      width: 100%;
    }

    .description {
      display: none;
      max-width: 50%;
    }
  }
}