.p-card {
    height: 288px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(80, 80, 80, 0.5);
    background-blend-mode: multiply;

    .card-info {
        color: white;
        margin-left: 8%;
        padding-top: 2%;
        text-shadow: 1px 0 0;

        h3 {
            text-transform: uppercase;
            font-size: 2rem;
        }

        p {
            padding-bottom: 1rem;
        }

        button {
            color: #666;
            border-radius: 0.4rem;
            text-transform: uppercase;
            font-size: 1.2rem;
            padding: 0.5rem 2rem;
            font-weight: 500;
        }
    }
}

.a {
    background-image: url("../images/productA.jpg");
}

.b {
    background-image: url("../images/productB.jpg");
}