.shop-by-room-box{
    margin-left: 6%;
    margin-bottom: 6%;

    h2{
        margin-bottom: 10%;
        font-size: 2rem;
    }

    .slider{
        display: grid;
        grid-template-columns: 1fr 1fr;    
    }
}

.shop-card{
    display: flex;
    justify-content: center;
    height: 148px;
    width: 148px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(80, 80, 80, 0.5);
    background-blend-mode: multiply;
    border-radius: 58%;
    margin-bottom: 8%;

    p{
        color: white;
        align-self: center;
        font-size: 1.5rem;
    }
}

.A{
    background-image: url("../images/shop-by1.jpg");
}

.B{
    background-image: url("../images/shop-by2.jpg");
}

.C{
    background-image: url("../images/shop-by3.jpg");
}

.D{
    background-image: url("../images/shop-by4.jpg");
}

.E{
    background-image: url("../images/shop-by5.jpg");
}

.F{
    background-image: url("../images/shop-by6.jpg");
}

.G{
    background-image: url("../images/shop-by7.jpg");
}

.H{
    background-image: url("../images/shop-by8.jpg");
}


@mixin shopby-tablet {
    .shop-by-room-box{
        margin-left: 2%;

        .slider {
            display: block;
      
            .slick-list {
              width: 80%;
              margin: 0 auto;
            }
      
            .slick-prev,
            .slick-next {
              height: 55px;
              width: 55px;
              z-index: 10;
            }
      
            .slick-prev {
              @include arrow(left, 3%, '\f053');
            }
      
            .slick-next {
              @include arrow(right, 3%, '\f054');
            }

            .shop-card{
                margin-left: 12%;
            p{
            text-align: center; 
            justify-content: center;
            display: flex;
            position: relative;
            margin-top: 32%;
            }
            }
        }
 }
}